
@import url("root.css");

/* ========== HERO ========== */
.hero {
  background: linear-gradient(135deg, var(--primary), var(--secondary));
  color: var(--white);
  padding: 100px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero p {
  max-width: 620px;
  margin: auto;
  opacity: 0.95;
}

.hero-actions {
  margin-top: 30px;
}

.hero-actions a {
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  margin: 5px;
  display: inline-block;
}

.primary-btn {
  background: var(--white);
  color: var(--primary);
}

.outline-btn {
  border: 2px solid var(--white);
  color: var(--white);
}

/* ========== BLOG SECTION ========== */
.container {
  max-width: 1200px;
  margin: 70px auto;
  padding: 0 20px;

}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.section-header h2 {
  font-size: 2rem;
}

.section-header input {
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #e5e7eb;
  outline: none;
}.section-header button {
  padding: 15px 18px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

/* ========== GRID ========== */
.blog-grid {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* ========== CARD ========== */
.blog-card {

  border-radius: var(--radius);
  padding: 24px 20px;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 45px rgba(0,0,0,0.12);
}

.blog-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.blog-card p {
   max-height: 80px;
   overflow: hidden;
  font-size: 0.95rem;
  color: var(--muted);
  margin-bottom: 18px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.card-footer a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}


/* ========== RESPONSIVE ========== */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.3rem;
  }

  .section-header {
    flex-direction: column;
    gap: 15px;
  }.section-header button {

  width: 80%;
  margin: 10% auto;
}
  .blog-grid {
    grid-template-columns: 1fr;
}
}
